/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#adminmenu #toplevel_page_review_funnel .wp-menu-image img {
	width: 22px;
	padding: 6px 0 0;
	opacity: 0.8;
}

ol.directions li {
	padding: 5px;
}